/* Colors, sizes, and other reusable variables */

// Named Colors
$dark-grey: #333;
$light-grey: #ddd;
$off-white: #efefef;
$primary-blue: #f66;

// Typography
$text-color: $dark-grey;
$link-color: $primary-blue;
$header-color: #000;
