/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "pygments.fruity";
@import "_variables";
@import "_video-js";

/////////////////////
// Responsive Mixins
@mixin centered-content {
  @media screen and (max-width: 623px) {
    margin-left: 6px; margin-right: 6px;
  }
  @media screen and (min-width: 624px) {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 800px) {
    width: 750px;
  }
}

////////////////////
// Fonts
@font-face {
  font-family: 'liberation_serifregular';
  src: url('../fonts/LiberationSerif-Regular-webfont.eot');
  src: url('../fonts/LiberationSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/LiberationSerif-Regular-webfont.woff') format('woff'),
       url('../fonts/LiberationSerif-Regular-webfont.ttf') format('truetype'),
       url('../fonts/LiberationSerif-Regular-webfont.svg#liberation_serifregular') format('svg');
}

@mixin heading {
  @include centered-content; font-weight: bold; color: $header-color;
}

/////////////////////
// Typography
html { font-family: 'liberation_serifregular'; font-size: 16px; line-height: 30px; color: $text-color; }
body { overflow-x: hidden; }

h1 { @include heading; font-size: 40px; line-height: 48px; margin: 6px 0; }
h2 { @include heading; font-size: 30px; line-height: 42px; margin: 36px 0 12px; }
h3 { @include heading; font-size: 24px; line-height: 36px; margin: 24px 0 12px; }
h4 { @include heading; font-size: 20px; }
h5 { @include heading; }
h6 { @include heading; font-weight:normal; font-variant: small-caps; }

a { text-decoration: none; color: #1a1afa; }
a:link:hover, a:hover { color: #4c4cfa; }
a:visited { color: #4c4cfa; }
a:visited:hover { color: #1a1afa; }
a:active { color: $link-color; }

ul, ol { padding-left: 30px; }
ul ul, ol ol, ul ol, ol ul { padding-left: 0; }

strong { font-weight: 600; }
em { font-style: italic; }
datetime { color:$dark-grey; font-size:smaller; }

.highlight { background-color: black; margin-bottom: 42px; margin-top: 42px; padding: 24px 0; }
code { font-family: monospace; }
pre code { @include centered-content; display: block; color: white; padding: 6px 0 6px 1em; word-wrap: break-word; white-space: pre; font-size: 14px; overflow: auto; }
li code, p code { color: #444; background: #ddd; display: inline-block; padding: 0 8px; }

blockquote { background-color: $light-grey; padding:24px 0 12px 0; margin-bottom:24px; }
blockquote + h2,
blockquote + h3,
blockquote + h4,
blockquote + h5,
blockquote + h6 { padding-top: 24px; }

video, .video, .video .vjs-tech { display:block; position:static; @include centered-content; margin-bottom: 24px; background-color:$dark-grey; min-height:200px; }
@media screen and (max-width:623px) {
  video, .video, .video .vjs-tech {width:100%; }
}
@media screen and (min-width:624px) {
  video, .video, .video .vjs-tech { height:378px; }
}
@media screen and (min-width:800px) {
  video, .video, .video .vjs-tech { height:473px; }
}
.responsive-image {
	display: inline;
	img { display: block; width: 100%; height: auto !important; }
}
.scroll { overflow: scroll; }

////////////////////////////////
// Layout

// Site Header
#header, #site-footer {
  height: 36px; background: url('../img/header.jpg') repeat-x;

  #logo img { height: 24px; width: auto; margin: 6px; float: left; }
  p, #site-title { margin: 0; color: white; text-shadow: 1px 1px black; width: auto; }
  #site-title { font-size: 24px; line-height: 36px; float: left;  }
  p { @include centered-content;  font-size: 12px;  line-height:36px; }
}

#header { position:fixed; width:100%; top:0; z-index:1000;}

#flattr-header, #flattr-footer { display:none; position: absolute; right: 3px; top: 9px; }

#site-footer { margin-top: 24px; position: relative; }

// Article
.node-article {

  .article-header {
    margin:24px 0 12px; background: black;

    h1 { @include centered-content; color:white; padding-top: 18px; margin-top:0; }
    datetime { display: block; @include centered-content; padding-bottom: 30px; color: $light-grey; }
  }

  .article-body {
    padding-bottom: 60px;

    ul, ol, p, table { margin-bottom: 30px; @include centered-content; }
    p + ul, p + ol { margin-top: -24px; }

    ul ul, ul ol, ol ol, ol ul { margin-bottom: 0; }
    ul li, ol li { margin-left: 1.2em; }
    ul { list-style: outside square; }
    ol { list-style: outside decimal; }

    table, td { border:2px solid #ccc; }
    th { background-color: #ccc; }
    th, td { text-align: left; padding:2px; }
  }

  .article-footer {
    margin: 0 -12px;

    .article-call-to-action {
      text-align: center; padding: 12px; margin-bottom: 24px; background-color: #ddd;

      a.primary-cta {
      	display: block;
      	margin:24px auto;
      	color:white;
      	border-radius: 6px;
      	width: 200px;
      	text-decoration: none;
      	background-color: #7db9e8;
      	@include filter-gradient(#7db9e8, #1e5799, vertical);
      	@include background-image(linear-gradient(top,  #7db9e8 0%,#2989d8 50%,#1e5799 100%));
      	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
      	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
      	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75); }

        .primary-cta strong { display: block; font-size: 27px; line-height: 36px; text-shadow: 2px 2px $dark-grey; }
    }

    .comments {
      @include centered-content;
      h2, #disqus_thread { max-width:95%; margin-right:15px; margin-left: 15px; }
    }

    #related-posts {
      @include centered-content;
      margin-bottom: 48px;
      ul { list-style: square outside; }
    }
  }
}

//////////////////////////////
// Named pages - custom layout
#home {
  h1 { font-size:60px; line-height:72px; }

  #site-mission {
    margin-top: 24px; padding:12px 0; background: black;
    h1, p { color:white; @include centered-content; }
  }

  #main-content { @include centered-content;}
  .article-header { background:none; }
  .node-article { transition-property:all; transition-duration:750ms; }
  .node-article:hover { background-color:$light-grey; }
  article { margin: 30px 0; }
  datetime { padding-bottom: 0; color:#999; }
  .pagination { margin: 60px auto 0 auto; }
}

///////////////////////////
// Media Queries
@media screen and (min-width: 450px) {
  #flattr-header, #flattr-footer { display:block; }
}
@media screen and (min-width: 624px) {
  html { font-size: 24px; line-height: 42px; }

  h1 { font-size: 84px; line-height: 108px; }
  h2 { font-size: 60px; line-height: 84px; margin-top: 48px; margin-bottom: 30px; }
  h3 { font-size: 36px; line-height: 60px; margin-top: 60px; margin-bottom: 18px; }
  #home h1 { font-size: 108px; line-height: 126px; }
  #home h2 { font-size: 36px; line-height: 48px; margin-bottom:0; }
  .node-article .article-header h1 { padding-top: 36px; }

  #flattr-header, #flattr-footer { top: 0; }

  blockquote p { max-width: 500px; position: relative; left: 50px; }
  blockquote:before { display:block; @include centered-content; content:"\201C"; color:#999; font-size:10em; position:relative; top:0.3em; }

  li code, p code { font-size: 18px; }
  pre code { white-space: pre-wrap; font-size: 18px; }

  .node-article {
    padding-right:0; padding-left:0;
    .article-body {
      ul, ol, p, table { margin-bottom: 30px; }
    }
  }
}
@media screen and (min-width: 800px) {
  ul, ol { padding-left: 50px; }
  blockquote p { max-width: 650px; }
  .scroll { overflow:auto; }
  .article-body p:first-of-type { font-size: 30px; line-height:48px; margin-top: 40px; margin-bottom: 40px; }
}
