/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

@mixin centered-content {
  @media screen and (min-width: 624px) {
    width: 600px;
    margin: 0 auto;
  }
}

////////////////////
// Fonts
@font-face {
  font-family: 'liberation_serifregular';
  src: url('../fonts/LiberationSerif-Regular-webfont.eot');
  src: url('../fonts/LiberationSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/LiberationSerif-Regular-webfont.woff') format('woff'),
       url('../fonts/LiberationSerif-Regular-webfont.ttf') format('truetype'),
       url('../fonts/LiberationSerif-Regular-webfont.svg#liberation_serifregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/////////////////////
// Typography
html { font-family: 'liberation_serifregular'; font-size: 16px; line-height: 24px; }

h1 { font-size: 40px; line-height: 48px; margin: 6px 0; font-weight: bold; }
h2 { font-size: 30px; line-height: 36px; margin: 6px 0; font-weight: bold; }
h3 { font-size: 24px; line-height: 30px; margin: 3px 0; font-weight: bold; }
h4 { font-size: 20px; font-weight: bold; }
h5 { font-weight: bold; }
h6 { font-variant: small-caps; }
a:link { color: #66f; }
a:visited { color: #009; }
a:active { color: #f66; }
strong { font-weight: 600; }
em { font-style: italic; }

code { font-family: monospace; font-size: 14px; }
pre code { display: block; color: white; background-color: #333; padding: 6px 0 6px 1em; margin-bottom: 24px; word-wrap: break-word; white-space: pre-wrap; }
blockquote { border-left: solid 6px #666; color: #666; padding-left: 6px; }

.responsive-video { width: 100%; height: auto !important; margin: 6px 0; }

////////////////////////////////
// Layout
#header {
  background: url('../img/header.jpg') repeat-x; height: 36px;

  #logo img { height: 24px; width: auto; margin: 6px; float: left; }
  h2#site-title { float: left; font-size: 24px; line-height: 36px; margin: 0; color: white; text-shadow: 1px 1px black; }
}

#main-content { margin: 0 12px; }

.node-article {

  .article-header {
    @include centered-content;
    margin-bottom: 12px;

    datetime { display: block; margin-bottom: 30px; }
    .article-image { display: block; width: 100%; height: auto !important; }
  }

  .article-body {
    @include centered-content;
    

    ul, ol, p { margin-bottom: 1em; }
    ul li, ol li { margin-left: 1em; }
    ul { list-style: outside square; }
    ol { list-style: outside decimal; margin-left:10px; }
  }

  .article-footer {
    margin: 0 -12px;

    .article-call-to-action {
      text-align: center; padding: 12px; margin-bottom: 24px; background-color: #ddd;

      a.primary-cta { display: block; margin:24px auto; color:white; border-radius: 6px; width: 200px; text-decoration: none; background-color: #7db9e8; @include filter-gradient(#7db9e8, #1e5799, vertical); @include background-image(linear-gradient(top,  #7db9e8 0%,#2989d8 50%,#1e5799 100%)); -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75); box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75); }
      .primary-cta strong { display: block; font-size: 27px; line-height: 36px; text-shadow: 2px 2px #333; }
    }

    .comments { 
      @include centered-content;
      padding: 0 12px;
    }

    .related-content {
      @include centered-content;
      padding: 0 12px;

      ul { list-style: square outside; margin-left: 24px; }
    }
  }
}

///////////////////////////
// Media Queries
@media screen and (min-width: 450px) {
  html { font-size: 20px; line-height: 30px; }
}

//////////////////////////////
// Named pages - custom layout
#home #main-content {
  @include centered-content;
  article { margin: 30px; }
  .pagination { margin: 60px auto 0 auto; text-align: center; }
}
