<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | Bryce Fishe-Fleig</title>
  <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/css/print.css" media="print" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="/img/favicon.png" />
  <link href="{{ site.url }}{{ page.url }}" rel="canonical" />
  <link href="{{ site.url }}/feed.xml" rel="alternate" type="application/rss+xml" title="Bryce Fisher-Fleig's Blog" />
  <!--[if IE]>
      <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
</head>
<body id="{{ page.css_id }}">
  <nav id="header">
    <a href="/" id="logo"><img src="/img/logo.png" alt="B" /></a>
    <h2 id="site-title">Bryce Fisher-Fleig</h2>
  </nav>

  <section id="main-content">
  {{content}}
  </section>

  <footer id="site-footer">
  </footer>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39263610-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>
