<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% if paginator and paginator.page > 1 %}Posts Page {{ paginator.page }}{% else %}{{ page.title }}{% endif %} | Bryce Fisher-Fleig</title>

  <link href="/css/print.css" media="print" rel="stylesheet" type="text/css">
  <link href="/favicon.ico" rel="shortcut icon">

  <link rel="dns-prefetch" href="//ssl.google-analytics.com">
  <link rel="dns-prefetch" href="//brycefisherfleig-blog.disqus.com">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href="{{ site.url }}{{ page.url }}" rel="canonical">
  <link href="{{ site.url }}/feed.xml" rel="alternate" type="application/rss+xml" title="Bryce Fisher-Fleig's Blog">
</head>
<body id="{{ page.css_id }}">
  <nav id="header">
    <a href="/" id="logo"><img src="/img/logo.png" alt="B" /></a>
    <h2 id="site-title">Bryce Fisher-Fleig</h2>

    <a id="flattr-header" href="https://flattr.com/submit/auto?user_id=brycefisherfleig&amp;title={{ page.title | uri_escape }}&amp;url=https%3A%2F%2Fbryce.fisher-fleig.org{{ page.url | uri_escape }}"><img src="/img/flattr-badge-large.png" alt="Flattr this"></a>
  </nav>

  {{content}}

  <footer id="site-footer">
    <a id="flattr-footer" href="https://flattr.com/submit/auto?user_id=brycefisherfleig&amp;title={{ page.title | uri_escape }}&amp;url=https%3A%2F%2Fbryce.fisher-fleig.org{{ page.url | uri_escape }}"><img src="/img/flattr-badge-large.png" alt="Flattr this" title="Flattr this"></a>
  </footer>

  <script src="/js/blog.js"></script>
</body>
</html>
